---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { cards } from "../data/cards";
import { Picture } from "astro-imagetools/components";
import ButtonPrimary from "../components/ButtonPrimary.astro";
import Heading from "../components/Heading.astro";
import LazyLoad from "vanilla-lazyload";
---

<Layout title="Home">
  <Hero path="src/images/backgrounds" heading="Entdecke die Freiheit" />
  <div class="bottom-8 z-10 w-full mt-40">
    <div class="mx-auto container text-center">
      <h1 class="text-base text-xl lg:text-2xl text-white-50 font-text m-0">
        <span class="font-sec text-colored-300">Aktivstall</span> Pfaffenwinkel
      </h1>
      <h2 class="text-5xl leading-none lg:text-7xl leading-tight text-white-50 mt-0 shadow-white">
        Entdecke die Freiheit
      </h2>
      <p class="text-white-100">
        In Riesen im wunderschönen Pfaffenwinkel bieten wir Pferden und Ponys eine artgerechte, auf ihre Bedürfnisse
        angepasste Haltung in einem innovativen Aktivstall.
      </p>
    </div>
  </div>
  <main class="container mx-auto mt-96">
    <section>
      <Heading heading="Mehr erfahren" />
      <div class="mt-8 flex flex-col md:flex-row md:space-x-8">
        {
          cards.map((card) => (
            <div class="text-colored-900 bg-colored-50 mt-8 md:mt-0 p-4 flex flex-col md:w-1/3">
              <h2 class="text-xl">{card.headline}</h2>
              <p class="mb-4">{card.text}</p>
              <div class="mt-auto">
                <ButtonPrimary text={card.ctaText} link={card.link} />
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section>
      <Heading heading="Dein neuer Aktivstall" />
      <div>
        <div>
          <div>Wir haben jahrelange Erfahrung in der Pensionspferdehaltung und im Turniergeschehen</div>
          <div>
            Kraftfutterautomaten und zeitgesteuerte Heuraufen bieten den Tieren eine auf sie abgestimmte Haltung
          </div>
          <div>Weite Wiesen, der Lech und vier Badeseen zu Füßen der Alpen laden zu tollen Ausritten ein</div>
        </div>
        <div class="lazy">
          <iframe
            class="lazy w-full"
            src="https://www.youtube.com/embed/ukF_iRNUuow"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </section>
  </main>
</Layout>
<script>
  declare global {
    interface Window {
      lazyLoadInstance?: any;
      lazyLoadOptions?: any;
    }
    interface Event {
      detail?: any;
    }
  }
  window.lazyLoadOptions = {};
  window.addEventListener(
    "LazyLoad::Initialized",
    function (event) {
      window.lazyLoadInstance = event.detail.instance;
    },
    false
  );
</script>

<script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
