---
import Layout from "../layouts/Layout.astro";

const api_key = "AIzaSyDqGCw5rVobBZWAgwBFArxj7lo9sr_jI8Y";
const cal_id = "96b8baf7232624b615b89b0fc72e21687e9236e61b44a22fd265c734b1eef266@group.calendar.google.com";
const url = new URL(`https://www.googleapis.com/calendar/v3/calendars/${cal_id}/events`);
url.searchParams.append("key", api_key);
url.searchParams.append("maxResults", "100");
url.searchParams.append("timeMin", new Date().toISOString());
url.searchParams.append("singleEvents", "true");
url.searchParams.append("orderBy", "startTime");

const events = await fetch(url.href);
const data = await events.json();
---

<Layout title="Termine">
  <h1>Termine</h1>
  <div>
    {data.items.map((event) => <div>{event.summary}</div>)}
  </div>
</Layout>
