---
import Hamburger from "./Hamburger.astro";
import Menu from "./Menu.astro";
import Logo from "./Logo.astro";
---

<header class="header fixed top-0 z-50 w-full bg-white-900">
  <nav
    class="border-b border-white-700 md:container mx-auto bg-white-900 grid grid-cols-4 md:flex items-center max-h-12 relative md:py-4"
    id="navbar"
  >
    <div class="col-start-2 col-span-2 md:col-start-1 md:col-span-1 m-auto md:m-0 max-h-10 h-full">
      <a rel="prefetch" href="/" aria-label="Zur Startseite">
        <Logo />
      </a>
    </div>
    <Hamburger />
    <Menu />
  </nav>
</header>
<script>
  const navbar = document.querySelector("#navbar");
  const overlay = document.querySelector(".menu-overlay");
  function toggleMenu() {
    navbar.querySelector("#menu").classList.toggle("-translate-y-full");
    navbar.querySelector("#menu ul").classList.toggle("opacity-0");
    overlay.classList.toggle("hidden");
  }
  navbar.querySelector("#menu-button").addEventListener("click", () => {
    toggleMenu();
  });
  overlay.addEventListener("click", () => {
    (navbar.querySelector("#menu-button") as HTMLInputElement).checked = false;
    toggleMenu();
  });
</script>
